svg.circle {
    width: 80px;
    height: 80px;
}

#clock-container {
    position: absolute;
    height: 80px;
    left: calc(50% - 40px);
}

#hands {
    display: inline;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#hands path {
  stroke: currentColor;
  stroke-width:6px;
}

svg.hour-hand{
    color: black;
    height: 30px;
    position: absolute;
    top: 18px;
    left: 28px;
}

svg.minute-hand{
    color: black;
    height: 60px;
    display: block;
    top: 3px;
    left: 16px;
    position: relative;
}

svg.second-hand{
    color: red;
    height: 60px;
    position: absolute;
    top: 3px;
    left: 16px;
}
